<?php echo $header; ?>
<section id="page-title" style="background-image: url(image/catalog/bg-large.jpg);">
  <div class="container">
    <div class="row">
      <h3>cпециализированный магазин</h3>
      <h2>Умных часов для детей</h2>
    </div>
  </div>
</section>
<section class="zakaz">
<div class="container">
  <div class="row"><?php echo $column_left; ?>
    <div id="content" class="col-sm-12"><?php echo $content_top; ?>
      <h1 class="vash-zakas"><?php echo $heading_title; ?></h1>
    <div class="vash-prod-block">
		<?php $abvv_total=0; $i=0; foreach ($activ as $activqw) { $i++ ?>
			<div class="col-sm-1">
			  <div class="vash-prod-block-1" style="text-align:center;">
			  	<p><span><?php echo $i;?></span></p>
			  </div>
			</div>
			<div class="col-sm-1">
				<img src="/image/<?php echo $activqw['image']; ?>" alt="<?php echo $activqw['name']; ?>" class="img-responsive" />
			</div>
			<div class="col-sm-3">
			  <div class="vash-prod-block-1">
				  <p><?php echo $activqw['name'];?></p>
			  </div>
			</div>
			<div class="col-sm-2">
			  <div class="vash-prod-block-2">
				   <p><span>Количество: </span><?php echo $activqw['quantity'];?> шт.</p>
			  </div>
			</div>
			<div class="col-sm-2">
			  <div class="vash-prod-block-2">
				   <p><span>Цена: </span><?php echo $activqw['price'];?> руб.</p>
			  </div>
			</div>
			<div class="col-sm-3">
			  <div class="vash-prod-block-3">
					<?php $price_prod = $activqw['price']; $price_col = $activqw['quantity']; $za_tovar = $price_prod*$price_col; ?>
					<p><span>Сумма: </span><?php echo $za_tovar;?> руб.</p>
			  </div>
			</div>
			<div style="clear:both;border-bottom:1px solid #ссс;"></div>
			<?php $abvv_total += $za_tovar;?>
		<?php } ?>
		<?php 
			$cenadost=$activit['text'];
			$str = $activit['text'];
			preg_match_all('/[0-9-\\.]+/', $str, $matches);
			$cdost = 0;
			foreach($matches[0] as $match)
				$cdost += (int) $match;
			$full_price=$abvv_total+$cdost;
		?>		
		
			
			<div style="clear:both;border-bottom:1px solid #ссс;"></div>
			
			<div class="col-sm-9"></div>
			<div class="col-sm-3">
			  <div class="vash-prod-block-3 itogooo">
					<p><span>Итого: </span><?php echo $full_price;?> руб.</p>
			  </div>
			</div>
			<div style="clear:both;"></div>
    </div>

	<div style="clear:both;"></div>

	
      <div class="row">
        <div class="col-sm-3">
          <div class="vash-zak-block-1">
            <h4>Персональные данные:</h4>
            <p><?php echo $activity_da.' '.$activity_dat.' '.$activity_d; ?><br>
              <?php echo 'Телефон: '.$activity_; ?>
            </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="vash-zak-block-2">
            <h4>Адрес доставки:</h4>
            <p><?php echo $ac_ad['address_1']; ?></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="vash-zak-block-3">
            <h4>Способ доставки:</h4>
            <p><?php echo $activit['title']; ?></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="vash-zak-block-4">
            <h4>Способ оплаты:</h4>
            <p><?php echo $activi['title']; ?></p>
          </div>
        </div>
      </div>
		<div class="row">
		  <div class="col-sm-12">
			<h4 class="text-bt-tov">
				Для подтверждения заказа наши специалисты свяжутся с вами в рабочее время с 10:00 до 19:00
			</h4>
		  </div>
		</div>



      <div class="buttons" style="display:none;">
        <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
      </div>
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>
</section>
<?php echo $footer; ?>
<script>
<?php $telll = $activity_; ?>
<?php $telefon = preg_replace('/[^0-9]/', '', $telll) ?>
$(document).ready(function() {
    $.post('http://api.smsfeedback.ru/messages/v2/send/?login=nikita4577&password=1986nikita&sender=tiroki.net&phone=<?php echo $telll; ?>&text=Спасибо! Ваша заявка принята , ожидайте звонка специалиста нашей компании в ближайшее время.');
    return false;
});
</script>