<div class="catalog" style="background-image: url(../image/catalog/cat-bg.png);">
  <div class="cat-title">
    Модельный ряд
  </div>
  <ul>
    <?php foreach ($categories as $category) { ?>
    <?php if ($category['category_id'] == $category_id) { ?>
    <li class="col-md-12 col-xs-6 col-sm-4"><a href="<?php echo $category['href']; ?>"><img src="image/catalog/icon.png" alt=""><?php echo $category['name']; ?></a></li>
    <?php } else { ?>
    <li class="col-md-12 col-xs-6 col-sm-4"><a href="<?php echo $category['href']; ?>"><img src="image/catalog/icon.png" alt=""><?php echo $category['name']; ?></a></li>
    <?php } ?>
    <?php } ?>
  </ul>
</div>