/* скрываем оригинальный виджет - чтобы не было два ярлыка на экране*/
#jivo_chat_widget{
	display: none;
}

/* стиль по умолчанию - для оффлайн сообщений, если никого нет в онлайне */
#jivo_custom_widget{
	position: fixed;
	right: 20px;
	bottom: 0px;
	width: 349px;
	z-index: 300000;
	cursor: pointer;
	height: 38px;
	background-image: url(/image/catalog/logo.png);
     background-color: rgb(20, 63, 184);
     background-position-x: 90%;
     background-repeat: no-repeat;
     background-size: contain;
     border-radius: 3px 30px 0 0;
}
#jivo_custom_widget:after{
  display: block;
  content: 'Напишите нам, мы онлайн!';
  padding-left: 10px;
  padding-top: 5px;
}

/* при наведении ярлык должен сдвигаться вправо на 3px */
#jivo_custom_widget:hover{
	right: 20px;
}

/* если есть операторы в онлайне - показываем другой ярлык*/
#jivo_custom_widget.jivo_online{
	height: 38px;
	background-image: url(/image/catalog/logo.png);
}
.wrap_3s {
    bottom: 0;
    left: 31px !important;
    position: fixed;
    left: auto;
    top: auto;
    z-index: -5;
    opacity: 0;
    visibility: hidden;
    margin-right: 90px;
    margin-bottom: 30px !important;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 1px 2px 3px 0 rgba(15,65,33,.08), 5px 10px 20px 0 rgba(18,43,26,.12);
}
.globalClass_ET jdiv .wrap_mW{
  display: none !important;
}
@media (max-width:768px) {
    #jivo_custom_widget{
       position: fixed;
       left: 50%;
       margin-left: -174px;
       bottom: 0px;
       width: 349px;
       z-index: 300000;
       cursor: pointer;
       height: 38px;
       background-image: url(/image/catalog/logo.png);
       background-color: rgb(20, 63, 184);
       background-position-x: 90%;
       background-repeat: no-repeat;
       background-size: contain;
       border-radius: 30px 30px 0 0;
    }
}
@media (min-width: 320px) and (max-width: 350px){
  #jivo_custom_widget{
       position: fixed;
       left: 50%;
       margin-left: -160px;
       bottom: 0px;
       width: 320px;
       z-index: 300000;
       cursor: pointer;
       height: 38px;
       background-image: url(/image/catalog/logo.png);
       background-color: rgb(20, 63, 184);
       background-position-x: 95%;
       background-repeat: no-repeat;
       background-size: contain;
       border-radius: 30px 30px 0 0;
  }
}