.pdqo-window {
    position: relative;
    background: #FFF;
    padding: 0;
    width: auto;
    max-width: 700px;
    margin: 20px auto;
    border-radius: 26px
}

.pdqo-header {
    padding: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-size: 1.6em;
    color: #757575
}

.pdqo-window label {
    color: #6D6B6B;
    padding-bottom: 3px
}

input.pdqo-field, textarea.pdqo-field {
    border: 1px solid #CACACA;
    transition: .3s;
    width: 161px;
    height: 41px;
    float: none;
    border-radius: 30px;
    border: none;
    margin-left: 30px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    padding-left: 0;
    background-color: #fff;
    color: #000;
    text-align: center
}

textarea.pdqo-field {
    resize: vertical
}

input.pdqo-field:hover, textarea.pdqo-field:hover, input.pdqo-field:focus, textarea.pdqo-field:focus {
    transition: .3s;
    box-shadow: 0 0 2px #00B8FF;
    outline: none
}

button.pdqo-button {
    width: 161px;
    height: 41px;
    float: none;
    border-radius: 30px;
    border: none;
    margin-left: 30px;
    margin-top: 0;
    border: 2px solid #fff;
    background-color: #ed1c24 !important;
    font-family: rotondacBold, sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 17px
}

.div_clas_num {
    font-family: rotondacBold, sans-serif;
    color: #fff !important
}

button.pdqo-confirm {
    background: #46C52F;
    color: #FFF
}

button.pdqo-cancel {
    background: #9C9B9B;
    color: #FFF
}

button.pdqo-cancel:hover, button.pdqo-cancel:active, button.pdqo-cancel:focus {
    cursor: pointer;
    background: #8C8C8C;
    color: #FFF
}

button.pdqo-confirm:hover, button.pdqo-confirm:active, button.pdqo-confirm:focus {
    cursor: pointer;
    background: #43A731
}

button.pdqo-button:focus {
    outline: none
}

.pdqo-required {
    vertical-align: middle;
    color: #F52A2A
}

.pdqo-content {
    padding: 5px 20px
}

.pdqo-complete-order {
    padding: 15px;
    background-color: #d6e9c6;
    border-radius: 4px
}

.pdqo-complete-order-header {
    text-align: center;
    padding-bottom: 10px;
    font-size: 2em;
    font-weight: 700;
    color: #3c763d
}

.pdqo-complete-order-content {
    text-align: center;
    color: #3c763d
}

.pdqo-order-number {
    font-size: 1.6em;
    font-weight: 700;
    padding: 0 0 8px
}

table.pdqo-products {
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Agenda-Light, sans-serif;
    background: #dbdbdb;
    color: #757575;
    text-rendering: auto;
    border-radius: 4px;
    width: 100%
}

table.pdqo-products thead th {
    font-weight: 600
}

table.pdqo-products thead th, table.pdqo-products tbody td {
    padding: .4rem;
    font-size: 1em
}

table.pdqo-products tbody td {
    padding: .4rem;
    font-size: 1em;
    color: #444;
    background: #fff;
    border: 1px solid #ddd;
    vertical-align: middle
}

table.pdqo-products tbody tr:not(:last-child) {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

@media screen and (max-width: 600px) {
    table.pdqo-products thead {
        display: none
    }

    table.pdqo-products tbody td {
        display: block;
        padding: .6rem
    }

    table.pdqo-products tbody tr td:first-child {
        background: #666;
        color: #fff
    }

    table.pdqo-products tbody td:before {
        text-align: left;
        content: attr(data-th);
        font-weight: 700;
        display: inline-block;
        width: 6rem
    }
}

input.pdqo-products-quantity {
    width: auto;
    max-width: 40px;
    border: 1px solid #CACACA;
    text-align: center
}

img.pdqo-products-remove:hover {
    cursor: pointer;
    opacity: .5
}

.opt_forma22 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/image/catalog/bg_opt_zayavka.jpg);
    background-position: center;
    margin-bottom: 0;
    margin-top: 0;
    height: auto;
    border-radius: 20px
}

.form-1-pol-133 {
    font-family: 'rotondacBold';
    font-weight: 700;
    color: #fff;
    font-size: 30px;
    line-height: 24px;
    display: block;
    float: none;
    text-align: center;
    padding: 50px 26px 10px 30px
}

@media screen and (max-width: 767px) and (min-width: 300px) {
    input.pdqo-field, textarea.pdqo-field {
        width: 89%;
        height: 50px;
        float: none;
        border-radius: 30px;
        border: none;
        margin: 0 15px 21px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px !important;
        padding-left: 0;
        background-color: #fff;
        color: #999 !important;
        text-align: center
    }

    .form-1-pol-133 {
        width: 100%;
        text-align: center;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 20px;
        float: none
    }

    button.pdqo-button {
        width: 89%;
        height: 50px;
        float: none;
        border-radius: 30px;
        border: none;
        margin: 0 15px 30px;
        border: 2px solid #fff;
        background-color: #ed1c24 !important;
        font-family: rotondacBold, sans-serif;
        font-weight: 700;
        color: #fff;
        font-size: 17px
    }
}

.form-1-pol-222 input {
    width: 161px;
    height: 41px;
    float: none;
    border-radius: 30px;
    border: none;
    margin-left: 30px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    padding-left: 0
}

@media (min-width: 768px) and (max-width: 1920px) {
    .mfp-bg, .mfp-ready {
        position: fixed !important;
        transition: opacity 1s linear !important;
    }
}
@media (max-width: 320px) {
    .mfp-bg, .mfp-ready {
      transition: opacity 1s linear !important;
    }
}